//background van al de webpaginas
$bodyBackground:'../images/BGimages/bgHomeInlog.jpg';

//background voor de andere versie van de naviegatiebalk//
$navAffixBackground:'../images/BGimages/linedpaper.png';

//background voor de achtergrond van de dropdown//
$dropdownMenuBackground:'../images/BGimages/linedpaper.png';

//background voor de achtergrond van de ouders, thumbnail en logindialoog//
$AchtergrondOuders:'../images/BGimages/groovepaper.png';
$AchtergrondThumbnail:'../images/BGimages/groovepaper.png';
$achtergrondLoginDialog:'../images/BGimages/linedpaper.png';

//background voor de achtergrond van de links voor leerkrachten//
$LeerkrachtLinksVakkenTesten:'../images/BGimages/linedpaper.png';

//mobiele versie van de achtergrond van de navigatiebalk//
$MobileNavBarbackground:'../images/BGimages/linedpaper.png';

//caroussel//
$CarousselAchterItem:'../images/BGimages/linedpaper.png';

//background voor de achtergrond van de links voor admins//
$AchtergrondAdminKlaslijst:'../images/BGimages/linedpaper.png';

$BerichtenLinksVakkenTesten:'../images/BGimages/cream_pixels.png';

$BerichtenAchtergrond:'../images/BGimages/linedpaper.png';